node/flows.json
[{"id":"f0739c94.69317","type":"tab","label":"Aquarium","disabled":false,"info":""},{"id":"e712efdf.eee84","type":"firebase modify","z":"f0739c94.69317","name":"fb_enviaIluminacao","firebaseconfig":"","childpath":"/aquarium/iluminacao","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":60,"wires":[[]]},{"id":"9c5a11cd.6046d","type":"firebase.on","z":"f0739c94.69317","name":"fb_recebeIluminacao","firebaseconfig":"","childpath":"/aquarium/iluminacao","atStart":true,"eventType":"value","queries":[],"x":290,"y":200,"wires":[["e3e15ea4.2ed4c"]]},{"id":"c509792b.2218e8","type":"change","z":"f0739c94.69317","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Desligada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["87d7cea.a91873"]]},{"id":"f48bb3d1.a3b2f","type":"change","z":"f0739c94.69317","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Ligada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["87d7cea.a91873"]]},{"id":"f7bf2140.efe8c","type":"ui_switch","z":"f0739c94.69317","name":"","label":"Iluminação","tooltip":"","group":"7b209318.85976c","order":11,"width":"5","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":350,"y":60,"wires":[["e712efdf.eee84","78a06a75.e68d84"]]},{"id":"78a06a75.e68d84","type":"debug","z":"f0739c94.69317","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"87d7cea.a91873","type":"ui_text","z":"f0739c94.69317","group":"7b209318.85976c","order":9,"width":"5","height":"3","name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-center","x":880,"y":200,"wires":[]},{"id":"e3e15ea4.2ed4c","type":"switch","z":"f0739c94.69317","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":200,"wires":[["c509792b.2218e8"],["f48bb3d1.a3b2f"]]},{"id":"95b53e51.c5092","type":"ui_gauge","z":"f0739c94.69317","name":"","group":"427d03d9.c4068c","order":0,"width":"10","height":"5","gtype":"gage","title":"Amônia","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":400,"wires":[]},{"id":"27985698.2d7eba","type":"firebase.on","z":"f0739c94.69317","name":"fb_recebeAmonia","firebaseconfig":"","childpath":"/aquarium/amonia/amonia","atStart":true,"eventType":"value","queries":[],"x":340,"y":400,"wires":[["95b53e51.c5092"]]},{"id":"403e82f4.1f0afc","type":"firebase.on","z":"f0739c94.69317","name":"fb_recebePh","firebaseconfig":"","childpath":"/aquarium/ph/ph","atStart":true,"eventType":"value","queries":[],"x":330,"y":500,"wires":[["6d5e5cd8.d4bfa4"]]},{"id":"6d5e5cd8.d4bfa4","type":"ui_gauge","z":"f0739c94.69317","name":"","group":"427d03d9.c4068c","order":1,"width":"10","height":"5","gtype":"gage","title":"pH","label":"pH","format":"{{value}}","min":"4","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":500,"wires":[]},{"id":"a50d5996.22c8a8","type":"ui_text","z":"f0739c94.69317","group":"633fad41.20f8a4","order":1,"width":"4","height":"1","name":"","label":"Quantidade de Peixes","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":720,"wires":[]},{"id":"982cd861.594378","type":"firebase.on","z":"f0739c94.69317","name":"fb_recebePeixes","firebaseconfig":"","childpath":"/aquarium/peixes/peixes","atStart":true,"eventType":"value","queries":[],"x":400,"y":720,"wires":[["e81de0e5.8dd07"]]},{"id":"b848fa7c.4c8cd8","type":"ui_text","z":"f0739c94.69317","group":"5fd8d306.cdc03c","order":1,"width":0,"height":0,"name":"","label":"Dinheiro","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":620,"wires":[]},{"id":"8071e2ba.1a7a3","type":"firebase.on","z":"f0739c94.69317","name":"fb_dinheiroVirtual","firebaseconfig":"","childpath":"/aquarium/money/money","atStart":true,"eventType":"value","queries":[],"x":440,"y":620,"wires":[["a3b15cbd.19529"]]},{"id":"8caef50f.8bd678","type":"ui_button","z":"f0739c94.69317","name":"","group":"5fd8d306.cdc03c","order":2,"width":"0","height":"0","passthru":false,"label":"Comprar Peixe [R$ 200]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":390,"y":940,"wires":[["5bd8d0b7.12be9"]]},{"id":"5ee6223a.7c725c","type":"firebase modify","z":"f0739c94.69317","name":"fb_enviaPeixes","firebaseconfig":"","childpath":"/aquarium/peixes/peixes","method":"set","value":"msg.payload","priority":"msg.priority","x":780,"y":980,"wires":[[]]},{"id":"5bd8d0b7.12be9","type":"function","z":"f0739c94.69317","name":"","func":"\nvar qtPeixes = global.get(\"qtPeixes\");\nqtPeixes = qtPeixes.payload;\n\nvar a = Number(msg.payload);\n\nvar soma = a + qtPeixes;\n\n\nmsg.payload = soma;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":940,"wires":[["5ee6223a.7c725c"]]},{"id":"e81de0e5.8dd07","type":"function","z":"f0739c94.69317","name":"","func":"var qtPeixes;\nglobal.set(\"qtPeixes\", msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":720,"wires":[["a50d5996.22c8a8"]]},{"id":"c3a3df09.4230e","type":"ui_template","z":"f0739c94.69317","group":"82b270c7.24d9d","name":"","order":1,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    \n    iframe {\n\n    margin: none;\n    padding: none;\n    border: none;\n    line-height: 0;\n    float: left; \n}\n</style>\n<iframe src=\"http://aquarium.inventoryanalytics.me/\" width=\"1600\" height=\"1000\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":1220,"wires":[[]]},{"id":"efccbfd6.00223","type":"ui_button","z":"f0739c94.69317","name":"","group":"5fd8d306.cdc03c","order":3,"width":"0","height":"0","passthru":false,"label":"Vender Peixe [R$ 75]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":380,"y":980,"wires":[["1a8750be.e0218f"]]},{"id":"1a8750be.e0218f","type":"function","z":"f0739c94.69317","name":"","func":"\nvar qtPeixes = global.get(\"qtPeixes\");\nqtPeixes = qtPeixes.payload;\n\nvar a = Number(msg.payload);\n\nvar menos = qtPeixes-a;\n\n\nmsg.payload = menos;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1000,"wires":[["5ee6223a.7c725c"]]},{"id":"acf518a.47979e8","type":"ui_button","z":"f0739c94.69317","name":"","group":"a4d53d9c.36b4f","order":0,"width":0,"height":0,"passthru":false,"label":"Realizar TPA [Grátis] ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":380,"y":1480,"wires":[["b8650090.72d3e"]]},{"id":"2ee670e2.aece2","type":"comment","z":"f0739c94.69317","name":"TELA GAME","info":"IN-GAME","x":170,"y":1220,"wires":[]},{"id":"b8650090.72d3e","type":"firebase modify","z":"f0739c94.69317","name":"fb_enviaTPA","firebaseconfig":"","childpath":"/aquarium/tpa/tpa","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":1480,"wires":[[]]},{"id":"8d44804d.9c66e","type":"comment","z":"f0739c94.69317","name":"TPA","info":"Realiza a troca parcial de água e a limpeza","x":150,"y":1480,"wires":[]},{"id":"84e19216.c5a3d","type":"comment","z":"f0739c94.69317","name":"ILUMINAÇÃO","info":"","x":150,"y":120,"wires":[]},{"id":"d3d39130.c8529","type":"comment","z":"f0739c94.69317","name":"AMÔNIA","info":"","x":160,"y":400,"wires":[]},{"id":"60e6ac75.bd89d4","type":"comment","z":"f0739c94.69317","name":"pH","info":"","x":150,"y":500,"wires":[]},{"id":"5d6987f6.c27128","type":"comment","z":"f0739c94.69317","name":"DINHEIRO VIRTUAL","info":"","x":200,"y":620,"wires":[]},{"id":"f489baf4.f7c288","type":"comment","z":"f0739c94.69317","name":"Informações","info":"","x":170,"y":780,"wires":[]},{"id":"93711401.86d478","type":"comment","z":"f0739c94.69317","name":"LOJA DO GAME","info":"","x":180,"y":1000,"wires":[]},{"id":"bbc6bbae.522ff8","type":"ui_button","z":"f0739c94.69317","name":"","group":"5fd8d306.cdc03c","order":3,"width":"0","height":"0","passthru":false,"label":"Vender Pedra [R$ 45]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":380,"y":1100,"wires":[["331a3870.ef0ff8"]]},{"id":"7835f729.4a0b18","type":"ui_button","z":"f0739c94.69317","name":"","group":"5fd8d306.cdc03c","order":2,"width":"0","height":"0","passthru":false,"label":"Comprar Pedra [R$ 100]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":390,"y":1060,"wires":[["7c44498.513a0b8"]]},{"id":"ccf6c7d.6e23738","type":"firebase modify","z":"f0739c94.69317","name":"fb_enviaPedras","firebaseconfig":"","childpath":"/aquarium/pedras/pedras","method":"set","value":"msg.payload","priority":"msg.priority","x":780,"y":1100,"wires":[[]]},{"id":"7c44498.513a0b8","type":"function","z":"f0739c94.69317","name":"","func":"\nvar qtPedras= global.get(\"qtPedras\");\nqtPedras = qtPedras.payload;\n\nvar a = Number(msg.payload);\n\nvar soma = a + qtPedras;\n\n\nmsg.payload = soma;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1060,"wires":[["ccf6c7d.6e23738"]]},{"id":"331a3870.ef0ff8","type":"function","z":"f0739c94.69317","name":"","func":"\nvar qtPedras = global.get(\"qtPedras\");\nqtPedras = qtPedras.payload;\n\nvar a = Number(msg.payload);\n\nvar menos = qtPedras-a;\n\n\nmsg.payload = menos;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1100,"wires":[["ccf6c7d.6e23738"]]},{"id":"5f667684.36efa8","type":"function","z":"f0739c94.69317","name":"","func":"var qtPedras;\nglobal.set(\"qtPedras\", msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["397c9c0d.fb6ff4"]]},{"id":"6080832b.66baec","type":"firebase.on","z":"f0739c94.69317","name":"fb_recebePedras","firebaseconfig":"","childpath":"/aquarium/pedras/pedras","atStart":true,"eventType":"value","queries":[],"x":400,"y":800,"wires":[["5f667684.36efa8"]]},{"id":"397c9c0d.fb6ff4","type":"ui_text","z":"f0739c94.69317","group":"633fad41.20f8a4","order":1,"width":"4","height":"1","name":"","label":"Quantidade de Pedras","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":800,"wires":[]},{"id":"8a8fcc26.e5a39","type":"firebase modify","z":"f0739c94.69317","name":"fb_enviaBuffer","firebaseconfig":"","childpath":"/aquarium/buffer/buffer","method":"set","value":"msg.payload","priority":"msg.priority","x":600,"y":1540,"wires":[[]]},{"id":"29720421.5d940c","type":"ui_button","z":"f0739c94.69317","name":"","group":"a4d53d9c.36b4f","order":0,"width":0,"height":0,"passthru":false,"label":"Buffer pH 8.0 [R$ 400] ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"str","topic":"","x":380,"y":1540,"wires":[["8a8fcc26.e5a39"]]},{"id":"a3b15cbd.19529","type":"function","z":"f0739c94.69317","name":"","func":"\nmsg.payload = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["b848fa7c.4c8cd8"]]},{"id":"7b209318.85976c","type":"ui_group","z":"","name":"Iluminação","tab":"8eab2444.167768","order":1,"disp":true,"width":"5","collapse":false},{"id":"427d03d9.c4068c","type":"ui_group","z":"","name":"Parâmetros Água","tab":"8eab2444.167768","order":3,"disp":true,"width":"20","collapse":false},{"id":"633fad41.20f8a4","type":"ui_group","z":"","name":"Informações","tab":"8eab2444.167768","order":5,"disp":true,"width":"4","collapse":false},{"id":"5fd8d306.cdc03c","type":"ui_group","z":"","name":"Loja","tab":"8eab2444.167768","order":4,"disp":true,"width":"4","collapse":false},{"id":"82b270c7.24d9d","type":"ui_group","z":"","name":"IN-GAME","tab":"8eab2444.167768","order":6,"disp":true,"width":"31","collapse":false},{"id":"a4d53d9c.36b4f","type":"ui_group","z":"","name":"Limpeza","tab":"8eab2444.167768","order":2,"disp":true,"width":"4","collapse":false},{"id":"8eab2444.167768","type":"ui_tab","z":"","name":"AquariumLive","icon":"dashboard","disabled":false,"hidden":false}]